<!DOCTYPE html>
<html lang="en" ng-app="xxApp">
<head>
	<meta charset="UTF-8">
	<meta name=”viewport” content=”width=device-width, initial-scale=1″>
	<link rel="stylesheet" type="text/css" href="../dist/xuexiang.min.css">
	<title>留学后</title>
</head>
<body ng-cloak>
	<head-bar></head-bar>
	<div class="container userMain">
		<div class="leftPanel col-sm-3">
			<div class="userInfo">
				<div class="userAvatar img-circle"></div>
				<div class="userName"></div>
				<div class="userMajor"></div>
				<div class="userToolKit">
					<button>退出</button>
				</div>
			</div>
			<div class="userAdminList">
				<ul class="adminGroup">
					<li class="groupTitle">我的笔记</li>
					<li class="groupItem"><a>我的收藏</a></li>
					<li class="groupItem"><a>我的上传</a></li>
				</ul>
				<ul class="adminGroup">
					<li class="groupTitle">我的举手问</li>
					<li class="groupItem"><a>我的提问</a></li>
					<li class="groupItem"><a>我的回答</a></li>
				</ul>
				<ul class="adminGroup">
					<li class="groupTitle">关注的人</li>
					<li class="groupItem"><a>我的导师</a></li>
					<li class="groupItem"><a>我的学生</a></li>
				</ul>
				<ul class="adminGroup hide">
					<li class="groupTitle">我的课程</li>
					<li class="groupItem"><a>我的预约</a></li>
					<li class="groupItem"><a>我的发布</a></li>
				</ul>
				<ul class="adminGroup hide">
					<li class="groupTitle">我的订单</li>
					<li class="groupItem"><a>预约订单</a></li>
					<li class="groupItem"><a>授课订单</a></li>
				</ul>
				<ul class="adminGroup">
					<li class="groupTitle">个人资料</li>
					<li class="groupItem active"><a>个人信息</a></li>
				</ul>
				<ul class="adminGroup">
					<li class="groupTitle">账户安全</li>
					<li class="groupItem hide"><a>资金账户</a></li>
					<li class="groupItem"><a>修改密码</a></li>
				</ul>
			</div>
		</div>
		<div class="rightPanel col-sm-9" ng-controller="userInfoController as userInfoCtrl">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="userAvatar">
            
          </div>
          <label for="exampleInputFile" class="col-sm-2 control-label">选取头像</label>
          <div class="col-sm-10">
            <input type="file" id="exampleInputFile">
            <p class="help-block">支持JPG、PNG格式，不要超过2M</p>
          </div>
        </div>
        <div class="form-group">
          <label for="userName" class="col-sm-2 control-label">姓名＊</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="userName" ng-model="userInfoCtrl.model.editingUser.name" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="col-sm-2 control-label">性别＊</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender1" value="0" ng-model="userInfoCtrl.model.editingUser.gender"> 男
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender2" value="1" ng-model="userInfoCtrl.model.editingUser.gender"> 女
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="userAge" class="col-sm-2 control-label">生日</label>
          <div class="col-sm-10">
            <select ng-model="userInfoCtrl.model.editingUser.birth.year" ng-change="userInfoCtrl.birthChanged()">
              <option ng-repeat="i in userInfoCtrl.getArray(50) track by $index" ng-bind="2015-$index" value="{{2015-$index}}"></option>
            </select>年
            <select ng-model="userInfoCtrl.model.editingUser.birth.month" ng-change="userInfoCtrl.birthChanged()">
              <option ng-repeat="i in userInfoCtrl.getArray(12) track by $index" ng-bind="1+$index" value="{{1+$index}}"></option>
            </select>月
            <select ng-model="userInfoCtrl.model.editingUser.birth.day">
              <option ng-repeat="i in userInfoCtrl.model.editingUser.birth.dayInMonth track by $index" ng-bind="1+$index" value="{{1+$index}}"></option>
            </select>日
          </div>
        </div>
        <div class="form-group">
          <label for="userEmail" class="col-sm-2 control-label">邮箱＊</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="userEmail" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="userSchool" class="col-sm-2 control-label">学校＊</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="userSchool" placeholder="" ng-model="userInfoCtrl.model.editingUser.school">
          </div>
        </div>
        <div class="form-group">
          <label for="userMajor" class="col-sm-2 control-label">专业＊</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="userMajor" placeholder="" ng-model="userInfoCtrl.model.editingUser.major">
          </div>
        </div>
        <div class="form-group">
          <label for="userDesc" class="col-sm-2 control-label">描述</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="userDesc" placeholder=""></textarea>
          </div>
        </div>
      </form>
    </div>
	</div>
  <footer-panel></footer-panel>

	<script type="text/javascript" src="../dist/xuexiang.vendor.min.js"></script>
	<script type="text/javascript" src="../dist/xuexiang.min.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
